

@media (min-width: 1200px) {
    #contenedorItems{
        position: relative;
    }
    
    #formAgregar{
        position: absolute;
        left: 0;
    }
    
}

#containerEstrellas{
    display: flex;
    justify-content: space-around;
}

#containerEstrellas > button{
    background-color: transparent;
    border: none;
    font-size: 2.5vw;
}

.starActive{
    color: gold;
}