@media (min-width: 1200px) {
    #contenedorItems {
        position: relative;
    }

    #formAgregar {
        position: absolute;
        left: 0;
    }

    #menu-dropdown-datos{
        overflow-y: scroll; 
        width: 30vw;
    }
}

#containerEstrellas {
    display: flex;
    justify-content: space-around;
}

#containerEstrellas>button {
    background-color: transparent;
    border: none;
    font-size: 2.5vw;
}

.starActive {
    color: gold;
}

#formGenero {
    white-space: normal;
    /* Permite que el texto se divida en líneas */
    max-width: 30vw;
    /* Ancho máximo antes de que el texto se ajuste a nuevas líneas */
    /* Asegura que las palabras largas también se dividan */
}