@media (min-width: 1200px) {
    #contenedorItems {
        position: relative;
    }

    #formAgregar {
        position: absolute;
        left: 1.5vw;
    }

    #menu-dropdown-datos{
        overflow-y: scroll; 
        width: 30vw;
    }
}

#estrellasContainer {
    display: flex;
    justify-content: space-around;
}

#estrellasContainer > div {
    background-color: transparent;
    border: none;
    font-size: 2.5vw;
    cursor: pointer;
}
.estrellasCards {
    display: flex;
    justify-content: space-around;
}

.estrellasCards > div {
    background-color: transparent;
    border: none;
    font-size: 2.5vw;
    cursor: pointer;
}

.estrellasQuietas > div{
    background-color: transparent;
    border: none;
    font-size: 2.5vw;
    cursor: default;
}

.starActive {
    color: gold;
}

#formGenero {
    white-space: normal;
    max-width: 30vw;
}

.toast-header{
    background-color: rgb(208, 125, 219);
    color: black;
    font-size: 2vw;
}

.toast-body{
    font-weight: bold;
    font-size: 1.5vw;
}

#liveToast{
    width: 30vw;
}

#contenedorRecursos{
    margin: 1vw 3vw 1vw;
}

.formularioActivate{
    width: 100%;
}

.edicionGeneros{
    max-width: 100%;
    white-space: normal;
}

.form-check,.form-check-label,.form-check-input{
    cursor: pointer;
}
